# Configuration for 5.2.21_disable_ssh_allow_tcp_forwarding, created from default values on Sun Jan 29 21:28:05 UTC 2023
status=enabled
# Value of AllowTCPForwarding
# Settles sshd allowtcpforwarding
OPTIONS='AllowTCPForwarding=no'
